USE [master]
GO
/****** Object:  Database [DTT]    Script Date: 10/10/2020 11:45:09 AM ******/
CREATE DATABASE [DTT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DTT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DTT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DTT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DTT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DTT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DTT]
GO
/****** Object:  Table [dbo].[tblDecodeQuestion]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDecodeQuestion](
	[questionID] [int] NOT NULL,
	[row] [int] NOT NULL,
	[col] [int] NOT NULL,
	[detail] [nvarchar](max) NOT NULL,
	[questionImageName] [nvarchar](max) NULL,
	[questionVideoName] [nvarchar](max) NULL,
	[answer] [nvarchar](max) NOT NULL,
	[questionTypeID] [nvarchar](50) NOT NULL,
	[matchID] [nvarchar](50) NOT NULL,
	[isBackup] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDetailMatch]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDetailMatch](
	[No] [int] NOT NULL,
	[studentID] [int] NOT NULL,
	[matchID] [nvarchar](50) NOT NULL,
	[point] [int] NOT NULL,
	[position] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[No] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblMatch]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMatch](
	[matchID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuestion]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuestion](
	[questionID] [int] NOT NULL,
	[detail] [nvarchar](max) NOT NULL,
	[questionImageName] [nvarchar](max) NULL,
	[questionVideoName] [nvarchar](max) NULL,
	[answer] [nvarchar](max) NOT NULL,
	[answerImageName] [nvarchar](max) NULL,
	[answerVideoName] [nvarchar](max) NULL,
	[questionTypeID] [nvarchar](50) NOT NULL,
	[position] [int] NULL,
	[matchID] [nvarchar](50) NOT NULL,
	[isBackup] [bit] NOT NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[questionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuestionType]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuestionType](
	[questionTypeID] [nvarchar](50) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[questionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 10/10/2020 11:45:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[studentID] [int] NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[class] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblDecodeQuestion]  WITH CHECK ADD FOREIGN KEY([matchID])
REFERENCES [dbo].[tblMatch] ([matchID])
GO
ALTER TABLE [dbo].[tblDecodeQuestion]  WITH CHECK ADD FOREIGN KEY([questionTypeID])
REFERENCES [dbo].[tblQuestionType] ([questionTypeID])
GO
ALTER TABLE [dbo].[tblDetailMatch]  WITH CHECK ADD FOREIGN KEY([matchID])
REFERENCES [dbo].[tblMatch] ([matchID])
GO
ALTER TABLE [dbo].[tblDetailMatch]  WITH CHECK ADD FOREIGN KEY([studentID])
REFERENCES [dbo].[tblStudent] ([studentID])
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD FOREIGN KEY([matchID])
REFERENCES [dbo].[tblMatch] ([matchID])
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD FOREIGN KEY([questionTypeID])
REFERENCES [dbo].[tblQuestionType] ([questionTypeID])
GO
USE [master]
GO
